PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/vladimir_portfolio
AUTH_SECRET=replace_with_a_long_random_secret
ADMIN_PASSWORD=change_this_password
CLOUDINARY_URL=cloudinary://tu_api_key:tu_api_secret@dzn3i9vlh
